.pricingItem {
  width: 450px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}

.icon {
  margin: 0 auto;
  margin-bottom: 40px;
}

.label {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 35px;
  color: #dd7c4b;
  text-transform: uppercase;
  text-align: center;
}

.capacity {
  font-size: 17px;
  text-transform: uppercase;
  color: #b4b4b4;
  text-align: center;
  margin: 0px;
  margin-bottom: 24px;
}

.description {
  color: #b4b4b4;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 50px;
  width: 300px;
}

.price {
  color: #7f8c8d;
  text-align: center;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 40px;
}

.button {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  bottom: 0;
  outline: none;
  margin-bottom: 80px;
  background: #dd7c4b;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
