.transactionHistory {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.title {
  background-color: #00bcd4;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
}

.cell {
  width: 300px;
  height: 40px;
  outline: 1px solid #ecf2f3;
  color: #5c6975;
  font-size: 15px;
}

.line {
  width: 900px;
}

.line:nth-child(even) {
  background-color: #ecf2f3;
}

.cell::first-letter {
  text-transform: uppercase;
}
